<h1>This is the game</h1>

<p>Turns left: <%= @tally.turns_left %></p>

<p>Letters used: <%= @tally.used |> Enum.join(", ") %></p>

<p>Words so far: <%= @tally.letters |> Enum.join(" ") %></p>


		     
