/* This file is for your main application CSS */
@import "./phoenix.css";

.tally th {
  font-weight: normal;
  color: #AAAAAA;
}

.tally td {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.25rem;
}

.guess-form form {
  display: flex;
  align-items: center;
}

.guess-form button {
  margin-bottom: 0;
}

.guess-form input {
  max-width: 4rem;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-right: 2rem;
}

.status {
  margin-bottom: 2rem;
}

.status-initializing {
  color: #D883C5;
}

.status-good-guess {
  color: green;
}

.status-bad-guess {
  color: coral;
}

.status-won {
  color: dark-green;
  font-weight: bold;
}

.status-lost {
  color: crimson;
  font-weight: bold;
}

.status-already-used {
  color: #CCAAAA;
}
