<section class="phx-hero">
  <p>
    You have <%= plural_phrase(2, "egg") %>
  </p>

  <p>
    You have <%= plural_phrase(1, "chicken") %>
  </p>

  <p>
    <%= for i <- 1..5 do %>
	<p>Hello <%= i %></p>
    <% end %>

    <%= a = 1
	b = 5
	a + 2 * b + 2 %>
  </p>
</section>
